// Color variables
$clr-purple-900: rgb(133, 77, 255);

$clr-red-900: rgb(255, 87, 87);
$clr-red-800: rgb(230, 54, 54);
$clr-white-900: rgb(240, 240, 240);
$clr-white-800: rgb(255, 255, 255);

$clr-grey-900: rgb(113, 111, 111);
$clr-grey-800: rgb(219, 219, 219);

$clr-black-900: rgb(20, 20, 20);
