@import "./normalize";
@import "./fonts";
@import "./general";
@import "./variables";

.main {
  background-color: $clr-white-900;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container__calculator-block {
  background-color: $clr-white-800;
  padding: 50px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 160px;
}

.calculator-block__inputs-group {
  display: flex;
  gap: 30px;
}
.input-label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  label {
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: $clr-grey-900;
  }
  input {
    width: 140px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid $clr-grey-800;
    font-weight: 700;
    &::placeholder {
      font-size: 1.75rem;
      font-weight: 700;
      color: $clr-grey-900;
    }
    &:focus {
      border: 1px solid $clr-purple-900;
      outline: none;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.horizontal-line {
  background: $clr-white-900;
  height: 2px;
  width: 550px;
}

.button-and-hr-wrapper {
  display: flex;
  align-items: center;
  button {
    border: none;
    background: $clr-black-900;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease-out;
    &:hover {
      background-color: $clr-purple-900;
    }
  }
}

.calculator-block__result {
  font-size: 5rem;
  font-weight: 800;
  font-style: italic;
  line-height: 1.1em;
  color: $clr-black-900;
  span {
    color: $clr-purple-900;
    word-spacing: -7px;
  }
}

#error-message--day,
#error-message--month,
#error-message--year {
  color: $clr-red-800;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
}
